In [39]:
# import the required libraries
import docx2txt
import os
import re
import csv
import pandas as pd
import numpy as np

In [40]:
# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [41]:
# Set variables for the project (i.e. the input location of the file to be processed and the output location) )

folderlink = '..//data//'
input_folder = 'input//'
output_folder = 'output//'

In [42]:
d1_csv = folderlink+output_folder+"parent_data.csv" 
d11_csv = folderlink+output_folder+"minister_info.csv"
d22_csv = folderlink+input_folder+"new_predikanten.csv"

In [43]:
d1 = pd.read_csv(d1_csv, sep=';', encoding='utf-8')

In [44]:
d1.head()

,name,ddrc_id,birth,death,baptized,legerpredikant,pastoor,garnizoenspredikant,emeritus_status,burried,conrector,rector,monnik,schoolmeester,hoogleraar,chirurgijn,praeceptor,ziekentrooster,vlootpredikant,ambassadepredikant,original_input,name_info_family,nickname,minister,year_birth,year_death,year_baptized,year_legerpredikant,year_pastoor,year_garnizoenspredikant,year_emeritus_status,year_burried,year_conrector,year_rector,year_monnik,year_schoolmeester,year_hoogleraar,year_chirurgijn,year_praeceptor,year_ziekentrooster,year_vlootpredikant,year_ambassadepredikant,accu_year_birth,accu_year_death,accu_year_baptized,accu_year_legerpredikant,accu_year_pastoor,accu_year_garnizoenspredikant,accu_year_emeritus_status,accu_year_burried,accu_year_conrector,accu_year_rector,accu_year_monnik,accu_year_schoolmeester,accu_year_hoogleraar,accu_year_chirurgijn,accu_year_praeceptor,accu_year_ziekentrooster,accu_year_vlootpredikant,accu_year_ambassadepredikant,surname,infix,join_name
0,Johannes,1,Zierikzee,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",NaN,NaN,"Oudkarspel 30 juni 1743, ,,,,",1717.0,1777.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalburg,van,Aalburg Johannes van
1,Wilhelmus,4,NaN,,Biggekerke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",NaN,NaN,"Aardenburg 22 mei 1695, ,,,,",NaN,1700.0,1664.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,NaN,Aalst Wilhelmus
2,Cornelius,2,Castricum,Amsterdam,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in Parijstot,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",NaN,NaN,"Kalslagen ber. 21 febr. 1717, ,,,,",1686.0,1756.0,NaN,NaN,NaN,NaN,1751.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1715.0,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Cornelius van
3,Gerardus,3,,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",NaN,NaN,"Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, ,,,,",1678.0,1759.0,NaN,NaN,NaN,NaN,1755.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Gerardus van
4,Henricus,5,'s-Hertogenbosch (?),Limmen,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalstius Henricus Geb. 's-Hertogenbosch (?) yyy pred. Castricum en Heemskerk nov. 1700, emer. sept. 1733 overl. Limmen 15 maart 1736.<5>",NaN,NaN,"Castricum en Heemskerk nov. 1700, ,,,,",NaN,1736.0,NaN,NaN,NaN,NaN,1733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Henricus

In [45]:
d11_col_data_type = {'minister_year': pd.Int64Dtype()}

In [46]:
d11 = pd.read_csv(d11_csv, sep=';', dtype=d11_col_data_type, encoding='utf-8')

In [47]:
d22 = pd.read_csv(d22_csv)

In [48]:
d22.head()

,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden
0,35651,1.0,ZH,NaN,Oudewater,NaN,(Hekendorp) Brunner; L.,hulppredikant Oirschot,NaN,NaN,1867,Lobith,NaN,NaN,1868.0,NaN
1,45546,2.0,GE,NaN,Velp,2. Oude Jan,(Hilten van-)Matthijsen;mevrouw L.,kandidaat,2.0,maart,1986,Apeldoorn,23.0,oktober,1994.0,NaN
2,7179,3.0,NB,NaN,Breda,NaN,Aa; dr Pieter Jan Baptist Karel Simon van der,Winterswijk,26.0,februari,1893,emeritaat,1.0,mei,1904.0,NaN
3,21505,3.0,GR,NaN,Hornhuizen,NaN,Aa; dr. P.J.B.K. Simon van der,kandidaat,NaN,NaN,1862,Goutum,NaN,NaN,1866.0,NaN
4,36887,3.0,NH,NaN,Purmerend,NaN,Aa; dr. P.J.B.K. Simon van der,Goutum,NaN,NaN,1886,Winterswijk,NaN,NaN,1892.0,NaN

In [49]:
d11.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN

In [50]:
d22['d22join_name'] = d22['predikant'].str.replace(";","").str.replace(" ","").str.replace("  ","")
d22['d22gemeente'] = d22['gemeente'].str.replace(";","").str.replace(" ","").str.replace("  ","")
d22['d22jaar intrede'] = d22['jaar intrede'].astype(str).str.replace(";","").str.replace("","").str.replace("  ","")

In [51]:
d11['d11join_name'] = d11['join_name'].str.replace(";","").str.replace(" ","").str.replace("  ","")
d11['d11minister']= d11['minister'].str.replace(";","").str.replace(" ","").str.replace("  ","")
d11['d11minister_year']= d11['minister_year'].astype(str).str.replace(";","").str.replace("","").str.replace("  ","")
d11['d11id'] = d11['ddrc_id']

In [52]:
d22.head()

,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,d22join_name,d22gemeente,d22jaar intrede
0,35651,1.0,ZH,NaN,Oudewater,NaN,(Hekendorp) Brunner; L.,hulppredikant Oirschot,NaN,NaN,1867,Lobith,NaN,NaN,1868.0,NaN,(Hekendorp)BrunnerL.,Oudewater,1867
1,45546,2.0,GE,NaN,Velp,2. Oude Jan,(Hilten van-)Matthijsen;mevrouw L.,kandidaat,2.0,maart,1986,Apeldoorn,23.0,oktober,1994.0,NaN,(Hiltenvan-)MatthijsenmevrouwL.,Velp,1986
2,7179,3.0,NB,NaN,Breda,NaN,Aa; dr Pieter Jan Baptist Karel Simon van der,Winterswijk,26.0,februari,1893,emeritaat,1.0,mei,1904.0,NaN,AadrPieterJanBaptistKarelSimonvander,Breda,1893
3,21505,3.0,GR,NaN,Hornhuizen,NaN,Aa; dr. P.J.B.K. Simon van der,kandidaat,NaN,NaN,1862,Goutum,NaN,NaN,1866.0,NaN,Aadr.P.J.B.K.Simonvander,Hornhuizen,1862
4,36887,3.0,NH,NaN,Purmerend,NaN,Aa; dr. P.J.B.K. Simon van der,Goutum,NaN,NaN,1886,Winterswijk,NaN,NaN,1892.0,NaN,Aadr.P.J.B.K.Simonvander,Purmerend,1886

In [53]:
d11['d11_first_word_place'] = d11['d11minister'].str.split().str[0]

In [54]:
d11['d11j_place_year']=d11['d11join_name'].astype(str)+"_"+d11['d11_first_word_place'].astype(str)+"_"+d11['d11minister_year'].astype(str)

In [55]:
d11.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster,d11join_name,d11minister,d11minister_year,d11id,d11_first_word_place,d11j_place_year
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,Aardenburg,AalstWilhelmus_Aardenburg_1695
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagenber,1717,2,Kalslagenber,AalstCorneliusvan_Kalslagenber_1717
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN,AalstGerardusvan,VurenenDalem,1704,3,VurenenDalem,AalstGerardusvan_VurenenDalem_1704
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN,AalstGerardusvan,Sommelsdijk,1706,3,Sommelsdijk,AalstGerardusvan_Sommelsdijk_1706

In [56]:
d22['d22_first_word_place'] = d22['d22gemeente'].str.split().str[0]

In [57]:
d22['d22j_place_year']=d22['d22join_name'].astype(str)+"_"+d22['d22_first_word_place'].astype(str)+"_"+d22['d22jaar intrede'].astype(str)

In [58]:
d11_d22 = pd.merge(d11, d22, left_on='d11j_place_year', right_on='d22j_place_year', how='inner')

In [59]:
d11_d22.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster,d11join_name,d11minister,d11minister_year,d11id,d11_first_word_place,d11j_place_year,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,d22join_name,d22gemeente,d22jaar intrede,d22_first_word_place,d22j_place_year
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743,35685,NaN,NH,Alkmaar,Oudkarspel,NaN,Aalburg; Johannes van,NaN,NaN,NaN,1743,NaN,NaN,NaN,1777.0,NaN,AalburgJohannesvan,Oudkarspel,1743,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,Aardenburg,AalstWilhelmus_Aardenburg_1695,741,NaN,ZE,Walcheren,Aardenburg,NaN,Aalst; Wilhelmus,NaN,NaN,NaN,1695,NaN,NaN,NaN,1700.0,NaN,AalstWilhelmus,Aardenburg,1695,Aardenburg,AalstWilhelmus_Aardenburg_1695
2,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN,AalstGerardusvan,Sommelsdijk,1706,3,Sommelsdijk,AalstGerardusvan_Sommelsdijk_1706,41854,NaN,ZH,Schouwen-Duiveland,Sommelsdijk,NaN,Aalst; Gerardus van,NaN,NaN,NaN,1706,NaN,NaN,NaN,1715.0,NaN,AalstGerardusvan,Sommelsdijk,1706,Sommelsdijk,AalstGerardusvan_Sommelsdijk_1706
3,6,Obdam,Aalstius Johannes,"Aalstius Johannes [z.v. Johannes Leonardusz.] Geb. xxx 1620 pred. Obdam 1644, Boxtel 13 sept. 1648, Bergen op Zoom 9 nov. 1652 (tevens Waals1 pred.), emer. 1685 begraven 17 nov. 1687.<6>",1644,NaN,AalstiusJohannes,Obdam,1644,6,Obdam,AalstiusJohannes_Obdam_1644,32102,NaN,NH,Hoorn,Obdam,NaN,Aalstius; Johannes,NaN,NaN,NaN,1644,NaN,NaN,NaN,1648.0,NaN,AalstiusJohannes,Obdam,1644,Obdam,AalstiusJohannes_Obdam_1644
4,6,Boxtel,Aalstius Johannes,"Aalstius Johannes [z.v. Johannes Leonardusz.] Geb. xxx 1620 pred. Obdam 1644, Boxtel 13 sept. 1648, Bergen op Zoom 9 nov. 1652 (tevens Waals1 pred.), emer. 1685 begraven 17 nov. 1687.<6>",1648,NaN,AalstiusJohannes,Boxtel,1648,6,Boxtel,AalstiusJohannes_Boxtel_1648,6933,NaN,NB,’s-Hertogenbosch,Boxtel,NaN,Aalstius; Johannes,NaN,NaN,NaN,1648,NaN,NaN,NaN,1652.0,NaN,AalstiusJohannes,Boxtel,1648,Boxtel,AalstiusJohannes_Boxtel_1648

In [60]:
#new_df.to_csv(folderlink+'new_table_inner.csv', sep=';', encoding='utf-8', index=False)

In [61]:
#new_df_left = pd.merge(d11, d22, left_on='d11j_place_year', right_on='d22j_place_year', how='left')

In [62]:
#new_df_left.to_csv(folderlink+'new_table_inner_left.csv', sep=';', encoding='utf-8', index=False)

In [63]:
#new_df_right = pd.merge(d11, d22, left_on='d11j_place_year', right_on='d22j_place_year', how='right')
#new_df_right.to_csv(folderlink+'new_table_inner_right.csv', sep=';', encoding='utf-8', index=False)

In [64]:
id_counts_d11 = d11['ddrc_id'].value_counts()

In [65]:
d11['d11_count'] = d11['ddrc_id'].map(id_counts_d11)

In [66]:
d11['d11_count_unique']= d11['d11id'].astype(str)+"__"+d11['d11_count'].astype(str)

In [67]:
d11.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster,d11join_name,d11minister,d11minister_year,d11id,d11_first_word_place,d11j_place_year,d11_count,d11_count_unique
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743,1,1__1
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,Aardenburg,AalstWilhelmus_Aardenburg_1695,1,4__1
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagenber,1717,2,Kalslagenber,AalstCorneliusvan_Kalslagenber_1717,1,2__1
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN,AalstGerardusvan,VurenenDalem,1704,3,VurenenDalem,AalstGerardusvan_VurenenDalem_1704,3,3__3
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN,AalstGerardusvan,Sommelsdijk,1706,3,Sommelsdijk,AalstGerardusvan_Sommelsdijk_1706,3,3__3

In [68]:
id_counts_d22_d11 = d11_d22['d11id'].value_counts()
d11_d22['d11_d22_count'] = d11_d22['d11id'].map(id_counts_d22_d11)

In [69]:
d11_d22['d11_d22_count_unique']= d11_d22['d11id'].astype(str)+"__"+d11_d22['d11_d22_count'].astype(str)

In [70]:
countd11_countd11_d22 = pd.merge(d11, d11_d22, left_on='d11_count_unique', right_on='d11_d22_count_unique', how='inner')

In [71]:
countd11_countd11_d22.head()

,ddrc_id_x,minister_x,join_name_x,original_input_x,minister_year_x,accu_year_minster_x,d11join_name_x,d11minister_x,d11minister_year_x,d11id_x,d11_first_word_place_x,d11j_place_year_x,d11_count,d11_count_unique,ddrc_id_y,minister_y,join_name_y,original_input_y,minister_year_y,accu_year_minster_y,d11join_name_y,d11minister_y,d11minister_year_y,d11id_y,d11_first_word_place_y,d11j_place_year_y,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,d22join_name,d22gemeente,d22jaar intrede,d22_first_word_place,d22j_place_year,d11_d22_count,d11_d22_count_unique
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743,1,1__1,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743,35685,NaN,NH,Alkmaar,Oudkarspel,NaN,Aalburg; Johannes van,NaN,NaN,NaN,1743,NaN,NaN,NaN,1777.0,NaN,AalburgJohannesvan,Oudkarspel,1743,Oudkarspel,AalburgJohannesvan_Oudkarspel_1743,1,1__1
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,Aardenburg,AalstWilhelmus_Aardenburg_1695,1,4__1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,Aardenburg,AalstWilhelmus_Aardenburg_1695,741,NaN,ZE,Walcheren,Aardenburg,NaN,Aalst; Wilhelmus,NaN,NaN,NaN,1695,NaN,NaN,NaN,1700.0,NaN,AalstWilhelmus,Aardenburg,1695,Aardenburg,AalstWilhelmus_Aardenburg_1695,1,4__1
2,13,Zunderdorp,Aartsen Antonius,"Aartsen Antonius Geb. Kampen yyy pred. Zunderdorp 30 sept. 1742, emer. 1767 overl. 6 febr. 1776.<13>",1742,NaN,AartsenAntonius,Zunderdorp,1742,13,Zunderdorp,AartsenAntonius_Zunderdorp_1742,1,13__1,13,Zunderdorp,Aartsen Antonius,"Aartsen Antonius Geb. Kampen yyy pred. Zunderdorp 30 sept. 1742, emer. 1767 overl. 6 febr. 1776.<13>",1742,NaN,AartsenAntonius,Zunderdorp,1742,13,Zunderdorp,AartsenAntonius_Zunderdorp_1742,53032,NaN,NH,Edam,Zunderdorp,NaN,Aartsen; Antonius,NaN,NaN,NaN,1742,NaN,NaN,NaN,1767.0,NaN,AartsenAntonius,Zunderdorp,1742,Zunderdorp,AartsenAntonius_Zunderdorp_1742,1,13__1
3,12,Voorhout,Aartsen Lambertus,"Aartsen Lambertus [z.v. Antonius] Geb. Zunderdorp 1750 pred. Voorhout 21 aug. 1774, Assen 6 maart 1791, overl. 4 juli 1808.<12>",1774,NaN,AartsenLambertus,Voorhout,1774,12,Voorhout,AartsenLambertus_Voorhout_1774,2,12__2,12,Voorhout,Aartsen Lambertus,"Aartsen Lambertus [z.v. Antonius] Geb. Zunderdorp 1750 pred. Voorhout 21 aug. 1774, Assen 6 maart 1791, overl. 4 juli 1808.<12>",1774,NaN,AartsenLambertus,Voorhout,1774,12,Voorhout,AartsenLambertus_Voorhout_1774,46389,NaN,ZH,Leiden,Voorhout,NaN,Aartsen; Lambertus,NaN,NaN,NaN,1774,NaN,NaN,NaN,1791.0,NaN,AartsenLambertus,Voorhout,1774,Voorhout,AartsenLambertus_Voorhout_1774,2,12__2
4,12,Voorhout,Aartsen Lambertus,"Aartsen Lambertus [z.v. Antonius] Geb. Zunderdorp 1750 pred. Voorhout 21 aug. 1774, Assen 6 maart 1791, overl. 4 juli 1808.<12>",1774,NaN,AartsenLambertus,Voorhout,1774,12,Voorhout,AartsenLambertus_Voorhout_1774,2,12__2,12,Assen,Aartsen Lambertus,"Aartsen Lambertus [z.v. Antonius] Geb. Zunderdorp 1750 pred. Voorhout 21 aug. 1774, Assen 6 maart 1791, overl. 4 juli 1808.<12>",1791,NaN,AartsenLambertus,Assen,1791,12,Assen,AartsenLambertus_Assen_1791,3476,NaN,DR,Rolde,Assen,NaN,Aartsen; Lambertus,NaN,NaN,NaN,1791,NaN,NaN,NaN,1808.0,NaN,AartsenLambertus,Assen,1791,Assen,AartsenLambertus_Assen_1791,2,12__2

In [72]:
output_table = countd11_countd11_d22[['ddrc_id_x','d11_count_unique', 'd11_d22_count_unique']].copy()

In [73]:
output_table.head()

   ddrc_id_x d11_count_unique d11_d22_count_unique
0          1             1__1                 1__1
1          4             4__1                 4__1
2         13            13__1                13__1
3         12            12__2                12__2
4         12            12__2                12__2

In [74]:
output_without_duplicates = output_table.drop_duplicates()

In [75]:
output_without_duplicates.head()

   ddrc_id_x d11_count_unique d11_d22_count_unique
0          1             1__1                 1__1
1          4             4__1                 4__1
2         13            13__1                13__1
3         12            12__2                12__2
7         16            16__1                16__1

In [76]:
output_without_duplicates.to_csv(folderlink+output_folder+'ouput_nodup_first_word.csv', sep=';', encoding='utf-8', index=False)